@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

body {
    background-image: linear-gradient(90deg,#F0F4FF,#A5B6EE);
    height: 100vh;
    font-family: Pretendard,'Noto Sans KR', sans-serif;
    position: relative;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    text-align: center;
}

.weniv-logo {
    width: 244px;
    margin-bottom: 60px;
}

.timer {
    width: 400px;
    height: 360px;
    border-radius: 16px;
    background-image: linear-gradient(135deg,#5572BB 45%,#374B7C);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px 44px;
}

.timer__title {
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 23px;
    border-bottom: 1px solid #3D538A;
}
/*====== 타이머 ======*/
.timer__time {
    display: flex;
    justify-content: center;
    gap: 22px;
    padding-top: 32px;
    margin-bottom: 40px;
    border-top: 1px solid #5B75B4;
    
}

.timer__time span {
    color: #A5B6EE;
    font-size: 12px;
    font-weight: 700;
}

.timer__time div {
   border: 1px solid #354971;
   border-radius: 4px;
   background-image: linear-gradient(-45deg,#304577,#4C65A0);
   padding: 16px 14px;
   position: relative;
   margin-top: 4px;
   cursor: pointer;
}

.timer__time__min div::before,
.timer__time__sec div::before{
    content: '';
    position: absolute;
    display: inline-block;
    background: url(./img/dot.svg) no-repeat 0px 0px;
    width: 6px;
    height: 26px;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
}

.timer__time div span {
    font-size: 40px;
    color: var(--white);
    font-weight: 700;
}

.timer__time div span::before{
    content: '';
    position: absolute;
    display: block;
    width: 15px;
    height: 1px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #354971;
}

.timer__time div span::after{
    content: '';
    position: absolute;
    display: block;
    width: 15px;
    height: 1px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #354971;
}

/*====== 버튼 ======*/
.timer__btn {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.timer__btn button {
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    border-radius: 50px;
    padding: 16px 23px;
    display: flex;
    align-items: center;
}

.timer__btn__left {
    background-color: #5180FF;
}

.timer__btn__right {
    background-color: #FB7099;
}

.timer__btn__left::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(./img/icon/icon-start.svg) no-repeat 0px 0px;
    margin-right: 5px;
}

.timer__btn__right::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(./img/icon/icon-reset.svg) no-repeat 0px 0px;
    margin-right: 5px;
}

.timer__btn__left:disabled,
.timer__btn__right:disabled {
    color: #617199;
    background-color: #324577;
}

.timer__btn__left:disabled::before {
    background: url(./img/icon/icon-start-disabled.svg) no-repeat 0px 0px;
}

.timer__btn__right:disabled::before {
    background: url(./img/icon/icon-reset-disabled.svg) no-repeat 0px 0px;
}

.timer__btn__left.paused {
    background-color: #15C2B8;
}

.timer__btn__left.paused::before {
    background: url(./img/icon/icon-stop.svg) no-repeat 0px 0px;
}


/*====== 카피라이트 ======*/
.copy-right {
    color: #8596BF;
    font-size: 14px;
    font-weight: 300;
    margin-top: 60px;
}

/*====== 읽기전용으로 바꿔줌 ======*/
.read-only {
    pointer-events: none;
}